
<div class="content-container">
	<div class="content-author">
		<%= display_img question.user, 'mini' %>
		&nbsp;
		<span class="content-author-title"><%= question.user.name %></span>
	</div>
	<div class="containing-div clearfloat">
		<div class="content-date">
			<%= date_time_helper question.created_at %>
		</div>
		<div class="question-answers-number">
			<%= question.answers_count %> Answers
		</div>
	</div>
	<%= link_to question.title, question, class: "content-title" %>
	<br />
	<% unless current_user?(question.user) %>
		<div class="containing-div clearfloat">
			<div class="answer-question">
				<%= link_to "Answer", new_question_answer_path(question),
						class: "btn-common btn-action" unless current_user.answered?(question) %>
			</div>
			<div id = "question_bookmark_<%= question.id %>" class = "content-bookmark">
				<%= display_bookmark question %>
			</div>
		</div>
	<% end %>
</div>
