<%= render :partial=> 'layouts/header' %>
<div class = "row">
<div class= "col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
	
	<div class = "feed_container">
		<div class = "category">
			Category: <%= @question.class %>
		</div>
	<div class = "domain_container">
		Related domains:
	<% @question.domains.each do |domain| %>
		<em><%= link_to domain.name,domain_path(domain.id) %></em>
	<% end %>
	</div>
	<div class = "title_container_show">
		</br>
	<strong><%=  @question.title.to_s.html_safe %></strong>
	<div class = "feed_created_at">
	</br>
	<%= @question.created_at.strftime("%d %b. %Y %H:%M") %>
	</div>
	<br>
	</div>
			Description:<br>
		<div class = "description_container"> 
			
	<%= @question.description.to_s.html_safe %>
	</div>
	</br>
		<% if !current_user?(@question.user) %>
			</br>
				<div id = "question_bookmark_<%= @question.id %>" class = "question_bookmark">
					<% if current_user.bookmark_question?(@question) %>
						<%= render(:partial=>'questions/unbookmark',:locals=>{
						:question => @question}) %>
					<% else %>
						<%= render(:partial=>'questions/bookmark',:locals=>
						{:question=> @question}) %>
					<% end %>				
				</div>
				
		<% end %>
		<%if current_user?(@question.user)||current_user.answered?(@question) %>
		<a class = "answer_tag">Answer</a>
		<% else %>
			<%= link_to "Answer", new_question_answer_path(@question),class: 'answer_tag' %>
		<% end %>
		</br>
		<% if @question.answers.any? %>
		</br>
		<div class = "answers_tag">
			Answers(<%= @question.answers.count %>)
		</div>
		<br>
		<ul class = "answers list-group">
			<%= render @question.answers.first %>
		</ul>
				
		<% end %>
	</br>	
	</div>
	<br>
</div>
<div class = 'col-md-3 col-sm-12 col-xs-12'>
<ul class = 'related_post'style = "list-style: none;padding-left: 0%;">
	Similiar posts
	<% @question.domains.each do |domain| %>
		<% (domain.questions+domain.articles).sort_by(&:created_at).each do |post| %>
		<% if(post!=@question) %>
		<li style="border: 1px solid">	<%= link_to post.title,post.class==Article ?article_path(post) : question_path(post) %>
		<% end %>
		</li>
		<br>
		<% end %>
		
	<% end %>
</ul>
</div>
</div>
