<%= render "layouts/navbar" %>

<br /><br /><br /><br /><br /><br /><br />

<% @questions.each do |question| %>
  <div class="question-box">
    <div class="question-author">
      <%= render(:partial => 'common/mini_pic_loader', object: question.user, as: :entity )%>
      &nbsp;
      <span class="question-author-title"><%= question.user.name %></span>
    </div>
    <div class="question-date">
      Asked on <%= question.created_at.strftime("%b %d, %Y") %>
    </div>
    <%= link_to question.title, question, class: "question-title" %>
    <br />
    <div class="question-answers-number">
      <%= question.answers.count %> Answers
    </div>
  </div>
<% end %>
