<%= render :partial=>'layouts/header' %>

<%= link_to 'back',:back %>
<div class = "row">
<div class = "col-md-4 col-md-offset-4 existing_question_check">
	Search whether your question is already present or not	
	</br>
	<%= form_tag new_question_path,method: :get do %>
	<%= text_field_tag :questionterm %>
	<%= submit_tag 'Ask', id: 'ask_button',class: 'btn btn-primary' %>
	<% end %>
</div>
</div>
<script>

	$('#ask_button').attr('disabled',true);

	$('#questionterm').on('focus',function(){
	$(document).on('keydown',function(evt){
		if(evt.keyCode==32 && $('#questionterm').val()=='')
		{
			return false;
		}
		});
		
	$(document).on('keyup',function(evt){
		if($('#questionterm').val()=='')
			$('#ask_button').attr('disabled',true);
		else
			$('#ask_button').attr('disabled',false);
		});	
		
	});
	
		


</script>

