<% flash.each do |message_type, message| %>
	<div class = "alert alert-<%= message_type %>"><%= message %>
	</div>
<% end %>

<% if logged_in? %>
	<%= render :partial=>'layouts/header' %>
	<%= render :partial=>'layouts/body' %>
<% else %>
	<%= render 'common/login' %>
<% end %>
