<% flash.each do |message_type, message| %>
	<div class = "alert alert-<%= message_type %>"><%= message %>
	</div>
<% end %>

<% if logged_in? %>

	<%= render :partial=>'layouts/header' %>
	<%= render :partial=>'layouts/body' %>		
<% else %>


<div class = "row">
	<div class = "col-md-3">
	</div>
	<div class = "col-md-6">
<div class = "welcome" >	
		<h1> Welcome to this app</h1>
		
		</br>
		<%= link_to "Sign in through email", login_path,class: 'btn btn-primary btn-lg  btn-social sign_in' %>
		</br>
		Or<br>
		<%# link_to "Continue through facebook","/auth/facebook", class: "btn btn-primary btn-lg btn-social btn-facebook", id: "facebook_sign_in" %>
		 <a href = "/auth/facebook" class="btn btn-primary btn-lg btn-social btn-facebook facebook_sign_in">
    <span class="fa fa-facebook"></span> Continue through facebook
  </a>
		<br><strong>Or</strong><br>
		<%# link_to "Continue through google", url: '#', class: 'btn btn-primary btn-lg sign_in' %>
				 <a href = "/auth/google_oauth2" class="btn btn-primary btn-lg btn-social btn-google google_sign_in">
    <span class="fa fa-google"></span> Continue through google
  </a>
		<br><strong>Or</strong><br>
		<%= link_to "sign up by creating account", signup_path, class: 'btn btn-primary btn-lg  btn-social sign_in' %>	
	</p>
	</div>
</div>		
			
<% end %>
