<li class = 'individual_reply individual_groupanswerreply_<%= @groupanswer.id %>' data-id='<%= groupquestionreply.id %>' >
		<%= display_img groupquestionreply.user, 'mini' %>	
	<strong><%= groupquestionreply.user.name %></strong>
	<%= groupquestionreply.body.html_safe %><br>
	<%= groupquestionreply.created_at.strftime("%d %b,%Y") %>
</li>
