
<div class="content-container">
	<div class="content-author">
		<%= display_img article.user, 'mini' %>
		&nbsp;
		<span class="content-author-title"><%= article.user.name %></span>
	</div>
	<div class="containing-div clearfloat">
		<div class="content-date">
			<%= display_date_time article.created_at %>
		</div>
	</div>
	<%= link_to article.title, article, class: "content-title" %>
	<br />
	<% unless current_user?(article.user) %>
		<div class="containing-div clearfloat">
			<div id = "article_bookmark_<%= article.id %>" class = "content-bookmark">
				<%= display_bookmark article %>
			</div>
		</div>
	<% end %>
</div>
