<% if article.user.image? %>
		<%= link_to(image_tag(article.user.image.mini.url),user_path(article.user),:class => "profile_pic" )%>
		<% else %>
		<%= link_to(image_tag('dummies/mini.png'),user_path(article.user)) %>
<% end %>

<%= link_to article.user.name,user_path(article.user) %>
<br>
<li class = 'list-group-item'>

<div class = "article_body_container">
<%= article.body.html_safe %>
</div>
<br>
	<% if current_user != article.user %>
	<div class= "row">
		<div id = "upvotearticle_<%= article.id %>" class = "col-md-2" > 
		<% if(current_user.like_article?(article)) %>
			<%= render :partial=>'articles/upvoted',:locals=>{:article => article} %>
		<% else %>
			<%= render :partial=>'articles/upvote',:locals=>{:article => article} %>
		<% end %>
		</div>
		<div id = "downvotearticle_<%= article.id %>" class = "col-md-2" >
			<% if(current_user.dislike_article?(article)) %>
				<%= render :partial=>'articles/downvoted',:locals=>{:article => article} %>
			<% else %>
				<%= render :partial=>'articles/downvote',:locals=>{:article => article} %>
			<% end %>
		</div>
		<div class = "col-md-4 social_share_tag">
			<%= social_share_button_tag(article.title) %>
		</div>
		<div id = "article_bookmark_<%= article.id %>" class = "col-md-2">
					<% if current_user.bookmark_article?(article) %>
						<%= render(:partial=>'articles/unbookmark',:locals=>{
						:article => article}) %>
					<% else %>
						<%= render(:partial=>'articles/bookmark',:locals=>
						{:article => article}) %>
					<% end %>
		</div>
		</div>
	<% else %>			
	<%= link_to "Edit", edit_article_path(article) %>
	<% end %>
	<br>

		<%= link_to "Replies", '#', class: 'articlereply_button',id: "article_#{article.id}",remote: true %>
		</br>
		<section class = 'articlereply' id = "articlereply_<%= article.id %>">
			<ul class = "replies_area articlereplies list-group" id = "articlereplies_<%= article.id %>">
				<%# render article.articlereplies %>
			</ul>
		<%= form_for([article,article.articlereplies.build],remote: true) do |f| %>
			<%= f.cktext_area :body,id: "articlefield_#{article.id}",rows: 3,:ckeditor =>{:toolbar=>'body'} %>
			<div>
				<%= f.submit 'Reply' %>
			</div>
		<% end %>
		</section>
	</br>
	
</li>
	
		
