<%= link_to 'Back', root_url %>
<br>
<div class = "col-md-6 col-md-offset-2">

		 <%= form_for @article do |f|%>
			<%= render 'common/error_messages', object: f.object %>
				<%# @domains.each do |g| %>
					<%# radio_button_tag :domain, "#{g.name}" %><%# g.name %>
				<%# end %>
			<%= text_field_tag :domain_tokens,nil,data: {:url=> domains_path(:format=>:json)}, :style => "width: 50%" %>	
		 <div>
    <%= f.label :title %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
  </div>
  <div>
    <%= f.cktext_area :body, rows: 5,:ckeditor =>{:toolbar => 'body'}%>
  </div>
  <div>
    <%= f.submit 'Post' %>
  </div>
  <% end %>
  </div>
 <script type = "text/javascript">
 	window.onload = domain_token_function;
 </script>
