<%= render :partial => 'layouts/header' %>
<br />
<div class="content-container">
	<div class="containing-div">
		<h2 class="article-heading"><%= @article.title %></h2>
	</div>
	<%= render partial: 'common/author_info', locals: { user: @article.user, date_time: @article.created_at }  %>
	<br />
	<div class="containing-div article-content">
		<%= @article.body.html_safe %>
	</div>
	<div class="containing-div clearfloat">
		<%# modify the 'by author' below if the person has an account on google/fb/twitter %>
		<div id="article_upvote_<%= @article.id %>" class="vote-container">
			<%= display_upvote @article %>
		</div>
		<div id="article_downvote_<%= @article.id %>" class="vote-container">
			<%= display_downvote @article %>
		</div>
		<%= social_share_button_tag("#{@article.title} by #{@article.user.name}") %>
	</div>

</div>

<br />
<h3 class="article-reply-header">Replies:</h3>
<br /><br />
<div class="submit-article-reply">
	<%= render partial: 'common/author_info', locals: { user: current_user, date_time: false }  %>
	<br />
	<%= render partial: 'article_replies/form', locals: { article: @article } %>
</div>

<div class="article-replies-box">
	<%= render @article_replies %>
</div>

<% unless @article_replies.total_pages < 2 %>
	<div class="load-more-block">
		<%= link_to 'Load More', article_path(@article, page: 2), class: 'btn-common btn-action load-more-button', remote: true %>
	</div>
<% end %>

<br /><br /><br /><br /><br /><br /><br />
