<li class = 'individual_reply individual_grouparticlereply_<%= @group_article.id %>' data-id= '<%= grouparticlereply.id %>' >
		<%= render(:partial=> 'common/mini_pic_loader',:object=>grouparticlereply.user ,:as => :entity) %>	
	<strong><%= grouparticlereply.user.name %></strong>
	<%= grouparticlereply.body.html_safe %><br>
	<%= grouparticlereply.created_at.strftime("%d %b,%Y") %>
</li>
