<div class = "col-md-6 col-md-offset-2">
	<%= form_for([@group, @groupquestion]) do |f| %>
		<%= render 'common/error_messages', object: f.object %>
		<%= f.label :title %>
		<div>
			<%= f.text_field :title %>
		</div>
		<%= f.label :description %>
		<%= f.cktext_area :description,id: "question_field", rows: 5, :ckeditor =>{:toolbar => 'body' }%>
		<div>
		<%= f.submit 'Ask',id: "button_question_field" %>
		</div>
	<% end %>
</div>
		
