<%= render :partial=> 'layouts/header' %>

<%= link_to 'Back',group_path(@group) %>
<div class = "row image_row">
<div class = "col-md-4 col-md-offset-4 image_column">
<% if @group.image? %>
		<%= image_tag @group.image.profile.url , class: "profile_pic" %>
		<% else %>
		<%= image_tag 'dummies/medium.png',:class=> "profile_pic" %>
<% end %>

<%= form_tag image_group_path(@group), multipart: true do %>
<%= file_field_tag :image, accept: 'image/jpeg , image/gif, image/png' %>
<%= submit_tag "upload this image",class: 'btn btn-primary btn-xs' %>
<% end %>
</div>
</div>
