<%= render :partial=>'layouts/header' %>
<% flash.each do |message_type, message| %>
	<div class = "alert alert-<%= message_type %>"><%= message %>
	</div>
<% end %>

<%= link_to 'back',:back %>

<div class ="row">
<div class = 'col-md-4 col-md-offset-4 col-xs-12 col-sm-12'>
<ul class = "user_members_index">
Members
<% @group.members.each do |user| %>
	<li class = "individual_user_member">
	<%= display_img user, 'mini' %>	
	<%= link_to user.name,user_path(user) %>

</li>
	</br>
<% end %>
</ul>
</div>
</div>
