<%= render :partial=>'layouts/header' %>
<div class = "row">
<div class = "col-md-8 col-md-offset-2">

<% if @group.image? %>
		<%= link_to(image_tag(@group.image.profile.url),group_path(@group),:class => "profile_pic" )%>
<% else %>
		<%= link_to(image_tag('dummies/medium.png'),group_path(@group)) %>
<% end %>
	<br>
	<%= link_to 'Edit', edit_image_group_path(@group) %>


<h1><%= @group.name %></h1>
<h4><%= link_to 'Add members', invite_group_path(@group) %></h4>
</br>
<%= link_to 'Members', member_group_path(@group) %>
</br>
<%= link_to 'Ask Question',new_group_group_question_path(@group) %>
<%= link_to 'Write Article',new_group_group_article_path(@group) %>
</br>

<%= render :partial=> 'layouts/groupfeed' %>
</div>
</div>

