<%= render :partial=>'layouts/header' %>
<div class = "row">
<div class = "col-md-4 col-md-offset-4">

<h1><%= @group.name %></h1>
<h4><%= link_to 'Add members', invite_group_path(@group) %></h4>
</br>
<%= link_to 'Members', member_group_path(@group) %>
</br>
<%= link_to 'Ask Question',new_group_group_question_path(@group) %>
<%= link_to 'Write Article',new_group_group_article_path(@group) %>
</div>
</div>

