<%= render :partial=> 'layouts/header' %>
<% flash.each do |message_type, message| %>
	<div class = "alert alert-<%= message_type %>"><%= message %>
	</div>
	<% end %>

password will remain unchanged if password field are left empty


<div class = "row">
	<div class = "col-md-6">
<%= form_for(@user,url: update_password_user_path(@user),method: :post) do |f| %>
<%= f.label "Old password" %>
	<%= f.password_field :old_password %>
	</br>
	<%= f.label "Password" %>
	<%= f.password_field :password %>
	</br>
	<%= f.label "Password confirmation" %>
	<%= f.password_field :password_confirmation %>
	</br>

	<%= f.submit %>
	

<% end %>

If the account is created through facebook or google
then TODO: ADD password_reset_method for that
</div>
</div>
