<div class="container">
	<div class="row sign-up-box">
		<div class="panel-heading">

			<div class="panel-title text-center">
				<h1 class="register-login-title">Sign Up</h1>
				<hr />
			</div>

			<div class="main-login-register register-login-center">
				<%= form_for(@user, html: { class: "form-horizontal" }) do |f| %>

					<%= render 'common/error_messages',	object: f.object %>

					<div class="form-group">
						<%= f.label :name, class: "cols-sm-2 control-label" %>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
								<%= f.text_field :name, class: "form-control register-login-input", placeholder: "Enter your Name" %>
							</div>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :email, class: "cols-sm-2 control-label" %>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
								<%= f.text_field :email, class: "form-control register-login-input", placeholder: "Enter your Email" %>
							</div>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :password, class: "cols-sm-2 control-label" %>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<%= f.password_field :password, class: "form-control register-login-input", placeholder: "Enter your Password" %>
							</div>
						</div>
					</div>

					<div class="form-group">
						<%= f.label :password_confirmation, class: "cols-sm-2 control-label" %>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<%= f.password_field :password_confirmation, class: "form-control register-login-input", placeholder: "Confirm your Password" %>
							</div>
						</div>
					</div>

					<div class="form-group">
						<%= f.submit "Sign Up", class: "btn btn-primary btn-lg btn-block register-login-button" %>
					</div>

					<div class="login-sign-up">
						Already have an account ?
						<br />
						<%= link_to "Log In", login_path %>
					</div>

				<% end %>
			</div>
		</div>
	</div>

</div>
