<%= render :partial=>'layouts/header' %>

<div id = "interestmodal-window" class = "modal fade" role = "dialog"  aria-labelledby = myModalLabel" aria-hidden= "true"></div>

<div id = "academicmodal-window" class = "modal fade" role = "dialog"
aria-labelledby  = "myModalLabel" aria-hidden= "true"></div>

<% if @user.image? %>
		<%= link_to(image_tag(@user.image.profile.url),user_path(@user),:class => "profile_pic" )%>
		<% else %>
		<%= link_to(image_tag('dummies/medium.png'),user_path(@user)) %>
		<% end %>
		<% if @user==current_user %>
<%= form_tag image_user_path(current_user), multipart: true do %>
<%= file_field_tag :image, accept: 'image/jpeg , image/gif, image/png' %>
<%= submit_tag %>
<% end %>
<% end %>


<h1><%= @user.name %></h1>
</br>
<h2><%= @user.email %></h2>
</br>
<% if logged_in? &&  current_user != @user %>
	<div id = "follow_form">
	<% if current_user.following?(@user) %>
		<%= render 'unfollow' %>
	<% else %>
		<%= render 'follow' %>
	<% end %>
	</div>
<% end %>

<h4>Interests</h4>
<% if @user==current_user %>
<%= link_to "Edit",interest_user_path(@user),{remote: true,'data-toggle'=> "modal", 'data-target'=> '#interestmodal-window'} %>
<% end  %>
</br>
<% @user.relations.each do |relation| %>
<%= relation.name %>
<% end %>


<h4>Education</h4>
<%if @user==current_user %>
<%= link_to 'Edit',academic_user_path(current_user),{remote: true, 'data-toggle'=>"modal",'data-target'=>'#academicmodal-window'} %>
<% end %>
</br>
<% @user.universities.each do |academic| %>
	<%= label(:academic,"#{academic.name}") %>
<% end %>
<div class = "row">
	<div class = "col-md-8 col-md-offset-2">
	<%= render :partial=>'layouts/feed' %>
	</div>
</div>
