<% flash.each do |message_type, message| %>
	<div class = "alert alert-<%= message_type %>"><%= message %>
	</div>
<% end %>
<%= render :partial=>'layouts/header' %>

<div class = "row image_row">
	<div class = "image_column col-md-4 col-md-offset-4 col-xs-12 col-sm-12">
		<%=	render(:partial=>'common/profile_pic_loader',:object=> @user,:as=>:entity) %>
		<% if @user==current_user %>
		<br>
			<%= link_to 'Edit image', edit_image_user_path(current_user) %>
			<%= link_to 'Edit name and password',edit_user_path(current_user) %>
	<% end %>
<h4><%= @user.name %></h4>
</br>
<div class = "row">
<div class = "col-md-3 col-xs-3 col-sm-3">
Followers
</div>
<div class = "col-md-3 col-xs-3 col-sm-3">
	Following
</div>

<div class = "col-md-3 col-xs-3 col-sm-3">
fol/unfol
<%# here either follow/unfollow command or bookmarks option will be there %>
</div>
<div class = "col-md-3 col-xs-3 col-sm-3">
dropdown 

</div>
</div>
	</div>
</div>


</br>


<div class = "row">
<div class = "col-md-3 hidden-xs">


<% if logged_in? &&  current_user != @user %>
	<div id = "follow_form">
	<% if current_user.following?(@user) %>
		<%= render 'unfollow' %>
	<% else %>
		<%= render 'follow' %>
	<% end %>
	</div>
<% end %>
<ul id = "user_interest">
<h4>Interests</h4>
<% if @user==current_user %>
<%# link_to "Edit",interest_user_path(@user),{remote: true,'data-toggle'=> "modal", 'data-target'=> '#interestmodal-window'} %>
<%= link_to "Edit",interest_user_path(@user) %>
<% end  %>
</br>
<% @user.relations.each do |relation| %>
<li><%= relation.name %></li>
<% end %>
</ul>

<ul id = "user_education">
<h4>Education</h4>
<%if @user==current_user %>
<%# link_to 'Edit',academic_user_path(current_user),{remote: true, 'data-toggle'=>"modal",'data-target'=>'#academicmodal-window'} %>
<%= link_to 'Edit',academic_user_path(current_user) %>
<% end %>
</br>
<% @user.institutes.each do |institute| %>
	<li><%= institute.name %></li>
<% end %>
</ul>
</div>
	<div class = "col-md-6" id = "feed-posts">
	<%= render @feed %>
	</div>
	<div id = "infinite-scrolling">
		<%= will_paginate @feed %>
	</div>
</div>
