<li class= 'list-group-item'>
 	<%= answer.body.html_safe %>
 	<br>
 	<%= link_to "Replies",'#', class: 'reply_button', id: "answer_#{answer.id}",remote: true,"data-questionid"=> answer.question.id %>
 	<br>
 	<section class='reply' id= "reply_<%= answer.id %>">
	<% if answer.replies.any? %>
  	<ul  class = "replies list-group" id = "replies_<%= answer.id %>">
 			<%# render answer.replies %>
		</ul>			
	<% end %>
		</br>
		<%= form_for([answer.question,answer,answer.replies.build],remote: true) do |f| %>
			<%= f.cktext_area :body,id: "field_#{answer.id}", rows: 3,:ckeditor =>{:toolbar => 'body'}%>
			<div><%# hidden_field_tag :answer_id, answer.id %></div>
			<div>
			<%= f.submit 'Reply'  %>
			</div>
	<% end %>
	</section>
	</br>
		<%= link_to 'Upvote','#' %>
		<%= link_to 'Downvote','#' %>
			
</li>
	
