<div class = "answer_container list-group-item">
	<div class = "answer_user_name">
<% if answer.anonymous? %>
		<%= link_to(image_tag('dummies/mini.png'),:class => "profile_pic") %>
		Anonymous
	<% else %>
		<%= render(:partial => 'common/mini_pic_loader',:object=> answer.user,:as => :entity )%>
		<%= answer.user.name %>	
<% end %>
	
	</div>
	<div class = "answer_created_at">
	<%= answer.created_at.strftime("%d %b,%Y") %>
	</div>
	<br>
	<br>
	<div class = "answer_body">
 	<%= answer.body.html_safe %>
 	</div>
 	<br><br><br>
	<% if current_user!=answer.user %>
		<div class = "row">
		<div id = "upvoteanswer_<%= answer.id %>" class = "col-md-2 upvote_answer" > 
		<% if current_user.like_answer?(answer) %>
			<%= render :partial=>'answers/upvoted',:locals=>{:answer => answer} %>
		<% else %>
			<%= render :partial=>'answers/upvote',:locals=>{:answer => answer} %>
		<% end %>
		</div>
		<div id = "downvoteanswer_<%= answer.id %>" class = "col-md-2 downvote_answer" >
			<% if current_user.dislike_answer?(answer) %>
				<%= render :partial=>'answers/downvoted',:locals=>{:answer => answer } %>
			<% else %>
				<%= render :partial=>'answers/downvote',:locals=>{:answer => answer } %>
			<% end %>
		</div>
		<div class = "col-md-4 social_share_tag">
		<%= social_share_button_tag(answer.question.title) %>
		</div>
		<div  id = "answer_bookmark_<%= answer.id %>" class = "col-md-2">
			<% if current_user.bookmark_answer?(answer) %>
				<%= render(:partial=>'answers/unbookmark',:locals=>{:answer=> answer}) %>
			<% else %>
				<%= render(:partial=>'answers/bookmark',:locals=>{:answer=> answer}) %>
			<% end %>
		</div>
		</div>
	<% else %>		
		<%= link_to "Edit", edit_question_answer_path(answer.question,answer) %>
	<% end %>
	<br>
 	<%= link_to "Replies",nowhere_path, class: 'reply_button', id: "answer_#{answer.id}",remote: true,"data-questionid"=> answer.question.id %>
 	<br>
 	<section class='reply' id= "reply_<%= answer.id %>">
  	<ul  class = "replies_area replies list-group" id = "replies_<%= answer.id %>">
 			<%# render answer.replies %>
		</ul>			
		</br>
		<%= link_to "load more",nowhere_path,class: "answerreply_loadmore",id: "answerreply_loadmore_#{answer.id}",remote: true,"data-questionid"=> answer.question.id %>
		<%= form_for([answer.question,answer,answer.replies.build],remote: true) do |f| %>
			<%= f.cktext_area :body,class: "reply_field",id: "field_#{answer.id}",rows: 1,:ckeditor =>{:toolbar => 'body'}%>
			<div><%# hidden_field_tag :answer_id, answer.id %></div>
			<div>
			<%= f.submit 'Reply',id: "button_field_#{answer.id}"  %>
	<% end %>
	</div>
	</section>
	</br>
	
	
</div>
	
