<div class = "row-md-6 row-md-offset-3" >
	<% @question.domains.each do |domain| %>
		<%= domain.name %>
	<% end %>
	</br>
	<h3><%= @question.title.html_safe %></h3>
		</br>
		<p>	<%= @question.description.html_safe %></p>
		</br>
	<%= form_for([@question,@answer]) do |f| %>
	<%= render 'common/error_messages' , object: f.object %>
		<div>
			<%= f.label "Write your answer here" %>
			</br>
			<div>
				<%= f.check_box :anonymous %> Anonymous
			</div>
			<%= f.cktext_area :body,id: "answerfield", rows: 5,:ckeditor =>{:toolbar => 'body'}%>
		</div>
		<div>
			<%= f.submit 'Answer',id: "button_answerfield" %>
		</div>
	<% end %>
</div>
