<%= render :partial=> 'layouts/header' %>

<%= link_to 'Back',domain_path(@domain) %>
<div class =  "row image_row">
<div class = "image_column col-md-4 col-md-offset-4 col-xs-12 col-sm-12">
<% if @domain.image? %>
		<%= image_tag @domain.image.profile.url , class: "profile_pic" %>
		<% else %>
		<%= image_tag 'dummies/profile.png',:class=> "profile_pic" %>
<% end %>

<%= form_tag image_domain_path(@domain), multipart: true do %>
<%= file_field_tag :image, accept: 'image/jpeg , image/gif, image/png' %>
<%= submit_tag "Upload this image",class: 'btn btn-primary btn-xs'%>
<% end %>
</div>
</div>
