<%= render :partial=> 'layouts/header' %>


<div class = "row">
<div class = "col-md-4 col-md-offset-4">
<% if(@domain.locked) %>
This domain can't be changed anymore
<% end %>
	
	<% if(!@domain.available) %>
	This domain has been moved to other domain 
	<% else %>
	<h4>Supersets</h4>
	<% if(!@domain.locked) %>
	<%= link_to 'Edit', manage_superset_domain_path(@domain) %>
	<% end %>
	<br>
<% @domain.supersets.each do |superset| %>
	<%= label(:superset,"#{superset.name}") %>
<% end %>

	<h4>Subsets</h4>
	<% if(!@domain.locked) %>
	<%= link_to 'Edit',manage_subset_domain_path(@domain) %>
	<% end %>
<br>
<% @domain.subsets.each do |subset| %>
	<%= label(:subset,"#{subset.name}") %>
<% end %>
	<% end %>
</div>
</div>
