<%= render :partial=>'layouts/header' %>

<% if @domain.image? %>
		<%= link_to(image_tag(@domain.image.profile.url),group_path(@domain),:class => "profile_pic" )%>
<% else %>
		<%= link_to(image_tag('dummies/medium.png'),domain_path(@domain)) %>
<% end %>
	<br>
	<%= link_to 'Edit', edit_image_domain_path(@domain) %>


<h1><%= @domain.name %></h1>
	<%= @domain.questions.count %> questions
	<%= @domain.articles.count %> articles</h3>
	
	<strong id = "followers">
		<%= @domain.followers.count %>
	</strong> Followers
	
	<% if logged_in? %>
<div id = "follow_form">
	<% if current_user.has_relations(@domain) %>
		<%= render 'unfollow' %>
	<% else %>
		<%= render 'follow' %>
	<% end %>
</div>
<div class = "dropdown">
	<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Options</a>
<ul class = "dropdown-menu">
	<li><%= link_to "Manage", manage_domain_path(@domain) %></li>
</ul>	
</div>
<% end %>

<div class = "col-md-8 col-md-offset-2">
	
	<div id = "feed-posts">
		<%= render @feed %>
	</div>
	
	<div id = "infinite-scrolling">
		<%= will_paginate @feed %>
	</div>
	
</div>

<script type = "text/javascript">
	CKEDITOR.config.height = '50px';
</script>
