<%= render :partial=>'layouts/header' %>

<div class = "row image_row">
<div class = "image_column col-md-4 col-md-offset-4 col-xs-12 col-sm-12">
	<% if @domain.image? %>
		<%= link_to(image_tag(@domain.image.profile.url),group_path(@domain),:class => "profile_pic" )%>
<% else %>
		<%= link_to(image_tag('dummies/profile.png'),domain_path(@domain)) %>
<% end %>
	<br>
	<%= link_to 'Edit', edit_image_domain_path(@domain) %>


<h1><%= @domain.name %></h1>
	<%= @domain.questions.count %> questions
	<%= @domain.articles.count %> articles</h3>

	<strong id = "followers">
		<%= @domain.followers.count %>
	</strong> Followers
	<div class = "row">
		<% if logged_in? %>
		<div class = "col-md-6 col-xs-6 col-sm-6">
<a id = "follow_form">
	<% if current_user.has_relations(@domain) %>
		<%= render 'unfollow' %>
	<% else %>
		<%= render 'follow' %>
	<% end %>
</a>
		</div>
		<div class = "col-md-6 col-xs-6 col-sm-6">
			<a class = "dropdown">
	<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Options</a>
<ul class = "dropdown-menu dropdown-menu-right">
	<li><%= link_to "Manage", manage_domain_path(@domain) %></li>
</ul>
</a>
		</div>
	<% end %>
	</div>



</div>
</div>
<br>
<div class = "row">
<div class = "col-md-6 col-md-offset-3">

	<div id = "feed-posts">
		<%= render @feed %>
	</div>

	<div id = "infinite-scrolling">
		<%= will_paginate @feed %>
	</div>

</div>

<div class = "col-md-3 hidden-xs">
	<ul class = 'related_domain'style = "list-style: none;padding-left: 0%;">
	Related domains
	<% @related_domain.each do |dom| %>
		<li style="border: 1px solid">	<%= link_to dom.name, domain_path(dom) %>
		</li>
	<% end %>
		<br>
</ul>

</div>
</div>

<script type = "text/javascript">
	CKEDITOR.config.height = '50px';
</script>
