<li class = 'individual_articlereply_<%= @article.id %>' data-id= '<%= articlereply.id %>'>
	<%= render(:partial=> 'common/mini_pic_loader',:object=>articlereply.user ,:as => :entity) %>	
	<%= link_to articlereply.user.name,user_path(articlereply.user) %>
	<br>
	<%= articlereply.body.html_safe %><br>
	<%= articlereply.created_at.strftime("%d %b,%Y %H:%M") %>
</li>
