<li class = 'list-group-item'>

<p><%= group_article.body.html_safe %></p>
	</br>
	<% if current_user!=group_article.user %>
		<div id = "upvotearticle_<%= group_article.id %>" > 
		<% if current_user.like_grouparticle?(group_article) %>
			<%= render :partial=>'group_articles/upvoted',:locals=>{:group_article => group_article} %>
		<% else %>
			<%= render :partial=>'group_articles/upvote',:locals=>{:group_article => group_article} %>
		<% end %>
		</div>
		<div id = "downvotearticle_<%= group_article.id %>" >
			<% if current_user.dislike_grouparticle?(group_article) %>
				<%= render :partial=>'group_articles/downvoted',:locals=>{:group_article => group_article} %>
			<% else %>
				<%= render :partial=>'group_articles/downvote',:locals=>{:group_article => group_article} %>
			<% end %>
		</div>
	<% else %>
		<%= link_to 'Edit', edit_group_group_article_path(group_article.group,group_article) %>
	<% end %>
	<br>			
		<%= link_to 'Replies','#',class: 'grouparticlereply_button',id: "grouparticle_#{group_article.id}",remote: true,'data-groupid'=>group_article.group.id %>
		</br>
		<section class = 'grouparticlereply' id = 'grouparticlereply_<%= group_article.id %>'>
			<% if group_article.grouparticlereplies.any? %>
				<ul class = "grouparticlereplies list-group" id = "grouparticlereplies_<%= group_article.id %>" >
					<%= render group_article.grouparticlereplies %>
				</ul>
			<% end %>
			<%= form_for([group_article.group,group_article,group_article.grouparticlereplies.build],remote: true) do |f| %>
				<%= f.cktext_area :body, id: "grouparticlefield_#{group_article.id}",rows: 3,:ckeditor => {:toolbar =>'body'} %>
				<div>
					<%= f.submit 'Reply' %>
				</div>
			<% end %>
		</section>
		</br>
	
	
		
</li>		
