<%= render :partial=> 'layouts/header' %>

<div class = "row">
	<div class = "col-md-6 col-md-offset-3">
	

<br>
<ul class = "search_result_index">
<h5>In <%= @option %>, Results of the search '<%= params[:term] %>' </h5>
<% @value.each do |value| %>

<li class = 'search_result'>
	<% if(@option == "users") %>
		<img src = "<%= value[:image_address] %>" >
		<%# this seems like a bit of hack to me which i will
		definitely want to change %>
		<%= link_to value[:text],user_path(value[:id]) %>
	<% elsif(@option == "domains") %>
		<img src = "<%= value[:image_address] %>" >
		<%= link_to value[:text], domain_path(value[:id]) %>
	<% elsif(@option == "questions") %>
		<%= link_to value[:text], question_path(value[:id]) %>
	<% elsif(@option == "articles") %>
		<%= link_to value[:text], article_path(value[:id]) %>
	<% end %>
</li>

<% end %>

</ul>
	</div>
</div>
