<li class = 'individual_reply individual_reply_<%= @answer.id %>' data-id= '<%= reply.id %>'>
	<%= display_img reply.user, 'mini' %>
	<%= link_to reply.user.name,user_path(reply.user) %>
	</br>
	<%= reply.body.html_safe %><br>
	<%= reply.created_at.strftime("%d %b,%Y  %H:%M") %>
</li>
