<% @groupfeed.each do |feed| %>
	<div class = "center  jumbotron">
	</br>
	<h3><%= feed.title.html_safe %></h3>
	<% if feed.class == GroupArticle %>
		<%= render feed %>
		<% else %>
			<p><%= feed.description.html_safe %></p>
			</br>
			<% if !current_user?(feed.user) %>
				<%= link_to 'Answer', new_group_group_question_groupanswer_path(@group,feed) %>
				</br>
			<% end %>
			<% if feed.groupanswers.any? %>
			</br>
				Answers(<%= feed.groupanswers.count %>)
				<ul class = "groupanswers list-group">
					<%= render feed.groupanswers %>
				</ul>
			<% end %>
		<% end %>
	</div>
<% end %>
			
				
