<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class = "container header_container">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#headerright">
	<span class="icon-bar"></span>
	<span class = "icon-bar"></span>
	<span class = "icon-bar"></span>
	</button>
	<ul class = "nav navbar-nav  navbar-left header_left">
	<% if logged_in? %>
		<li><%= form_tag search_products_path, method: 'get',id: 'header_form' do %>
			<%= select_tag "options","<option>users</option>
			<option>domains</option>
			<option>questions</option>
			<option>articles</option>".html_safe %>
			<%= text_field_tag :term %>
			<%# submit_tag "Search",id: 'search', name: nil %>
				<button type = "submit" id = 'searchbar_button'><span class = "glyphicon glyphicon-search"></span></button>
		<% end %>
		</li>
	<% end %>
	</ul>
	<div id = "headerright" class = "navbar-collapse collapse">
	<% if !logged_in? %>
	<ul class = "nav navbar-nav navbar-right" id = "sign_in_header">
		<li><%= link_to "Sign in", root_url %></li>
	</ul>
	<% else %>
	<ul class = "nav navbar-nav navbar-right" >

			<a >
		<%# if current_user.image? %>
		<%# link_to(image_tag(current_user.image.thumb.url),user_path(current_user))%>
		<%# elsif !current_user.provider.nil? %>
		<%# link_to(image_tag("http://graph.facebook.com/#{current_user.uid}/picture?type=square"),user_path(current_user)) %>
		<%# else %>
		<%# link_to(image_tag('dummies/small.png'),user_path(current_user)) %>
		<%# end %>
	</a>
		<li><%# link_to "Home", root_url %>
			<a href = '<%= root_url %>' ><span class = "glyphicon glyphicon-home"></span>Home</a>
		</li>
		<li>
		<%# link_to "Ask",check_existing_question_path,{remote: true,'data-toggle'=>"modal",'data-target'=>'#modal-window'} %>
		<%= link_to "Ask",check_existing_question_path,id: 'ask' %></li>
		<li><%# link_to "Write",new_article_path, id: 'write' %>
			<a href = '<%= new_article_path %>' id = 'write'>
				<span class = "glyphicon glyphicon-pencil"></span>
				Write</a>
		</li>
		<li>
			<a href = '<%= user_notifications_path(current_user) %>' class = "notifications" data-id='<%= current_user.id %>'><span class = "glyphicon glyphicon-envelope"></span>Notifications
			<strong id = 'notification_count'><%= current_user.notifications.unread.count > 0 ?current_user.notifications.unread.count : "" %></strong>
			</a>
		</li>
		<% @image_location = current_user.image? ? current_user.image.mini.url : 'dummies/mini.png' %>
		<li class = "dropdown">
			<a href = "#" class = "dropdown-toggle account_dropdown" data-toggle= "dropdown">
			<span class="glyphicon glyphicon-user"></span>Account</a>
			<ul class = "dropdown-menu">
				<li><%= link_to "#{image_tag(@image_location)}my account".html_safe,user_path(current_user) %></li>
				<li><%= link_to "my groups", groups_path %></li>
				<li><%= link_to "create new group",new_group_path %></li>
				<li><%= link_to "Help" %></li>
				<li><%= link_to "settings" %></li>
				<li class = "divider"></li>
				<li>
					<%= link_to "Log out",logout_path, method: "delete" %>
				</li>
			</ul>
		</li>

	</ul>
	<% end %>
	</div>
	</div>
</header>


	<%# render :partial => 'static_pages/modalcheck' %>
